.authWrap {
  // height: calc(var(--vh, 1vh) * 100);
  padding: 20px 30px;
  background: #23003e;
  .navbar {
    display: flex;
    justify-content: space-between;
    background: transparent;
    // padding-top: 15px;
    // margin-bottom: 50px;
    .service {
      width: 50px;
      height: 50px;
    }
    .language {
      width: 50px;
      height: 50px;
    }
    img {
      object-fit: contain;
    }
    .logo {
      text-align: center;
      height: 7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 80%;
        height: 50%;
        object-fit: contain;
      }
    }
  }
  .main {
    .link-wrap {
      width: 80%;
      margin: 0 auto;
      display: flex;
      margin-bottom: 5%;
      .link-item {
        width: 50%;
        height: 2.2rem;
        text-align: center;
        position: relative;
        z-index: 0;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }
        &:first-child img {
          transform: rotate(180deg);
        }
        p {
          color: #fff;
          font-size: 1.2rem;
          font-weight: bold;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
        }
        button {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .input {
    height: 2.5rem;
    // height: 4rem;
    // font-size: 5vmin;
    // @include mobile-landscape {
    //   height: 4.5rem;
    // }
  }
  .title {
    display: flex;
    justify-content: center;
    margin: 25% 0 10% 0;
    color: #21deac;
    font-size: 2rem;
  }
  .button {
    width: 11rem;
    height: 2.5rem;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    margin: 0 auto;
    // margin-bottom: 15px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
  }
}
